<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-8">
                <div class="card-deck mb-3">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="card-title pricing-card-title"><b>Electricidad</b></div>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere sit culpa aliquam nobis
                            eligendi illum soluta laborum recusandae sequi ratione vel, impedit, harum pariatur qui
                            cupiditate deleniti facilis eveniet vero.
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn btn-link">Editar</button>
                            <button type="button" class="btn btn-link">Eliminar</button>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="card-title pricing-card-title"><b>Auxilio Mecanico</b></div>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere sit culpa aliquam nobis
                            eligendi illum soluta laborum recusandae sequi ratione vel, impedit, harum pariatur qui
                            cupiditate deleniti facilis eveniet vero.
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn btn-link">Editar</button>
                            <button type="button" class="btn btn-link">Eliminar</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col col-lg-4">
                <div class="card mb-6">
                    <div class="card-body">
                        <div class="card-title pricing-card-title"><b>Servicio</b></div>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nombre</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Descripción</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tipo</label>
                                <select class="form-control">
                                    <option>Auto</option>
                                    <option>Salud</option>
                                    <option>Comida</option>
                                    <option>Otros</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-success">Grabar</button>
                        <button type="button" class="btn btn-outline-danger">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>