<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-8">
                <div class="card-deck mb-3">
                    <div class="card mb-4 shadow-sm" *ngFor="let service of services">
                        <div class="card-body">
                            <div class="card-title pricing-card-title"><b>{{service.name}}</b></div>
                            {{service.description}}
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn btn-link" (click)="editService(service)">Editar</button>
                            <button type="button" class="btn btn-link"
                                (click)="deleteService(service)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="card mb-6">
                    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
                        <div class="card-body">
                            <div class="card-title pricing-card-title"><b>Servicio</b></div>
                            <div class="form-group">
                                <label for="name">Nombre:</label>
                                <input type="text" class="form-control" formControlName="name" id="name"
                                    [ngClass]="{'is-invalid': serviceForm.controls['name'].hasError('required') && serviceForm.controls['name'].touched}"
                                    autocomplete="off">
                                <div class="error"
                                    *ngIf="serviceForm.controls['name'].hasError('required') && serviceForm.controls['name'].touched">
                                    name is required</div>
                            </div>
                            <div class="form-group">
                                <label for="description">Descripción:</label>
                                <textarea class="md-textarea form-control" rows="3" formControlName="description"
                                    id="description" autocomplete="off"
                                    [ngClass]="{'is-invalid': serviceForm.controls['description'].hasError('required') && serviceForm.controls['description'].touched}">
                                    </textarea>
                                <div class="error"
                                    *ngIf="serviceForm.controls['description'].hasError('required') && serviceForm.controls['description'].touched">
                                    description is required</div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tipo</label>
                                <select class="form-control" formControlName="type" id="type"
                                    [ngClass]="{'is-invalid': serviceForm.controls['type'].hasError('required') && serviceForm.controls['type'].touched}">
                                    <option value="Auto">Auto</option>
                                    <option value="Salud">Salud</option>
                                    <option value="Comida">Comida</option>
                                </select>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-success">Grabar</button>
                            <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>